<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanjie.mapper.TypelistMapper">
<select id="select_byId_typelist"  parameterType="java.lang.Integer"  resultType="com.nanjie.entity.Typelist">
    select * from typelist where  typeid=#{typeid}
</select>
    <select id="select_byName_typelist"  parameterType="java.lang.String"  resultType="com.nanjie.entity.Typelist">
        select * from typelist where  typename=#{typename}
    </select>
    <!-- 返回数据有多少行-->
    <select id="select_typeList_count"   resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(id) FROM typelist WHERE chinesename LIKE concat('%',#{chinesename},'%')
    </select>
    <!-- 返回分页内容-->
    <select id="select_limit_typelist"  resultType="com.nanjie.entity.Typelist" parameterType="com.nanjie.entity.vo.typeList_vo" >
        SELECT * FROM typelist WHERE chinesename LIKE  concat('%',#{name},'%')  LIMIT #{page},#{maxlimitl};
    </select>
</mapper>
